@import "tailwindcss";
@source "../index.html";

.link{
    @apply text-black block p-5 font-bold hover:text-blue-400
}

.bd{
    @apply  border-4 border-blue-400 text-black font-bold p-2 rounded-full  hover:bg-white hover:text-blue-400 transition duration-700
}

.bl{
    @apply  bg-white  rounded-full text-black p-4 py-3 hover:bg-white hover:text-blue-400 transition duration-700
}

@theme {
    --background-image-wave-pattern: url('../img/wave-white.png');
    --background-image-wave-pattern-dots: url('../img/pattern-white-dots.png');
    --background-image-pattern-characters-red: url('../img/pattern-characters-red.png');
    --background-image-character-mario: url('../img/character-l.png');
    --background-image-wave-pink: url('../img/wave-pink.png');
    --background-image-yellow-dots: url('../img/pattern-yellow-dots.png');
}